<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.andot.share.basic.dao.RoleMenuMapper">
    <insert id="replace">
        REPLACE INTO role_menu (menu_code, role_code)
        VALUES
        <trim suffixOverrides=",">
        <foreach collection="roleMenus" item="roleMenu">
            ( #{roleMenu.menuCode}, #{roleMenu.roleCode} ),
        </foreach>
        </trim>
    </insert>
</mapper>